<ion-tabs>
  <ion-tab-bar slot="bottom" class="main-tab-bar">

    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="my-matches" href="/tabs/my-matches">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Le mie partite</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create-match" href="/tabs/create-match" class="create-tab-button">
      <div class="create-tab-circle">
        <ion-icon name="add-outline"></ion-icon>
      </div>
    </ion-tab-button>

    <ion-tab-button tab="find-field" href="/tabs/find-field">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Trova campo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>